Code/Areal/target/*
Code/Areal/project/*
Code/Areal/.ensime
Code/Areal/.ensime_cache/*

Code/SDCEL/target/*
Code/SDCEL/project/*
Code/SDCEL/.ensime
Code/SDCEL/.metals/*
Code/SDCEL/.bloop/*
Code/SDCEL/.ensime_cache/*

Code/DCEL/target/*
Code/DCEL/project/*
Code/DCEL/.ensime
Code/DCEL/.metals/*
Code/DCEL/.bloop/*
Code/DCEL/.ensime_cache/*

Code/StarkTester/target/*
Code/StarkTester/project/*
Code/StarkTester/.ensime
Code/StarkTester/.metals/*
Code/StarkTester/.bloop/*
Code/StarkTester/.ensime_cache/*

Code/Scala/RandomEdgeGenerator/target/*
Code/Scala/RandomEdgeGenerator/project/*
Code/Scala/RandomEdgeGenerator/.ensime
Code/Scala/RandomEdgeGenerator/.metals/*
Code/Scala/RandomEdgeGenerator/.bloop/*
Code/Scala/RandomEdgeGenerator/.ensime_cache/*

Code/Scala/Test/target/*
Code/Scala/Test/project/*
Code/Scala/Test/.ensime
Code/Scala/Test/.metals/*
Code/Scala/Test/.bloop/*
Code/Scala/Test/.ensime_cache/*

Code/dyn4j/target/*
Code/dyn4j/project/*
Code/dyn4j/.ensime
Code/dyn4j/.ensime_cache/*

Code/CGAL/dcel_code/CMakeLists.txt
Code/CGAL/dcel_code/Makefile
Code/CGAL/dcel_code/cmake_install.cmake
Code/CGAL/dcel_code/CMakeFiles/*
Code/CGAL/dcel_code/CMakeCache.txt

Code/CGAL/WKTReader/CMakeLists.txt
Code/CGAL/WKTReader/Makefile
Code/CGAL/WKTReader/cmake_install.cmake
Code/CGAL/WKTReader/CMakeFiles/*
Code/CGAL/WKTReader/CMakeCache.txt

Code/CGAL/overlay_color/CMakeLists.txt
Code/CGAL/overlay_color/Makefile
Code/CGAL/overlay_color/cmake_install.cmake
Code/CGAL/overlay_color/CMakeFiles/*
Code/CGAL/overlay_color/CMakeCache.txt

Code/Validation/GeometryChecker/target/*
Code/Validation/GeometryChecker/project/*
Code/Validation/GeometryChecker/.ensime
Code/Validation/GeometryChecker/.ensime_cache/*

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.Rhistory