Code/Areal/target/*
Code/Areal/project/*
Code/Areal/.ensime
Code/Areal/.ensime_cache/*

Code/DCEL/target/*
Code/DCEL/project/*
Code/DCEL/.ensime
Code/DCEL/.metals/*
Code/DCEL/.bloop/*
Code/DCEL/.ensime_cache/*

Code/StarkTester/target/*
Code/StarkTester/project/*
Code/StarkTester/.ensime
Code/StarkTester/.metals/*
Code/StarkTester/.bloop/*
Code/StarkTester/.ensime_cache/*

Code/dyn4j/target/*
Code/dyn4j/project/*
Code/dyn4j/.ensime
Code/dyn4j/.ensime_cache/*

Code/CGAL/dcel_code/CMakeLists.txt
Code/CGAL/dcel_code/Makefile
Code/CGAL/dcel_code/cmake_install.cmake
Code/CGAL/dcel_code/CMakeFiles/*

Code/CGAL/overlay_color/CMakeLists.txt
Code/CGAL/overlay_color/Makefile
Code/CGAL/overlay_color/cmake_install.cmake
Code/CGAL/overlay_color/CMakeFiles/*

Code/Validation/GeometryChecker/target/*
Code/Validation/GeometryChecker/project/*
Code/Validation/GeometryChecker/.ensime
Code/Validation/GeometryChecker/.ensime_cache/*

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.Rhistory